* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Defaults */
input {
    border: none;
    padding: 1rem;
    width: 100%;
}

button {
    border: none;
    padding: 1rem;
    color: white;
    width: 100%;
}

.redBG {
    background-color: red;
}

.blueBG {
    background-color: #004AAD;
}

.mt-1 {
    margin-top: 1rem
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f0f0f0; 
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    height: 50%; 
    border: blue 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: #004AAD;
    color: white;
    font-size: 1rem;
    text-align: center;
    width: 100%;
}

.mainBlock {
    width: 90%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.leftCol {
    width: 50%;
}

.rigthCol {
    width: 50%;
}* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Defaults */
input {
    border: none;
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
}

button {
    border: none;
    padding: 1rem;
    color: white;
    width: 45%;
    border-radius: 1rem;
}

.redBG {
    background-color: red;
}

.blueBG {
    background-color: #004AAD;
}

.greenBG {
background-color: green;
}

.mt-1 {
    margin-top: 1rem
}

label {
    color: white;
    text-align: center;
    display: block;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f0f0f0; 
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%; 
    border: blue 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #004AAD;
}

.header {
    background-color: #004AAD;
    color: white;
    font-size: 1rem;
    text-align: left;
    width: 90%;
    padding: 0rem 1rem 1rem 0rem;
}

.headerBox {
    background-color: #7FA4D5;
    color: white;
    font-size: 1rem;
    text-align: left;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.mainBlock {
    width: 90%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.defaultCard {
    background-color: #7FA4D5;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    color: white;
}

.leftCol {
    width: 50%;
}

.rigthCol {
    width: 50%;
}

.midCol {
    width: 50%;
}

.fieldRow {
    display: flex;
    gap: 1rem;
}

.field {
    width: 100%;
}

#description {
    height: 7rem;
}

.buttonsRow {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.paymentMethodRow {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.paymentMethodRow button{
    width: 23%;
    background-color: #7FA4D5;
}