@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Passion+One&family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {

    --azulEscuro: #324FA6;
    --azulClaro: #96B3D9;
    --verde: #A3D96C;
    --amareloClaro: #F2D272;
    --amarelo: #ffc822e7;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
    color: white;
}


header > h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

main {

    width: 70vw;
    height: 350px;
    background-color: var(--azulClaro);
    margin: auto;
    border-radius: 20px;
    overflow-y: auto;
}

.tabela {
    margin-left: 40px;
    padding: 10px;
}

.botao {
    border-style: none;
    height: 40px;
    padding: 6px 12px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 50px;
}

.botao.verde {
    
    background-color: var(--verde);
    width: 200px;
    font-size: 1.5rem;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.botao.verde:hover {
    background-color: #87fa14;
}